.canvas-sidebar-content-wrapper {
	display: flex;
	flex-wrap: wrap;
}
.side-bar-menu{
	width: 8%;
	background: #fff;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
    z-index: 900;
    transition: width .5s ease;
}
.canvas-menu-wrapper{
	width: 72%;
}
.right-menus{
	width: 20%;
	position: relative;
    -webkit-box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
    background: #fff;
    transition: width .5s ease;
}
.canvas-menu-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}
.top-menu{
	width: 100%;
	display: flex;
	transition: width 0.05s linear;
    z-index: 800;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
.top-menu ul{
	background: rgba(0, 0, 0, 0.05) !important;
} 
.canvas-wrapper{
	width: 100%;
	padding: 20px;
	background: #ecedef;
	display: flex;
    justify-content: center;
    align-items: center;
}
.title-save-wrapper {
	display:  flex;
	flex-wrap: wrap;
	margin: 0 0 20px 0;
}
.title-wrapper {
	width: 50%;
	display: flex;
}
.title-wrapper label{
	padding: 0px 20px;
}
.button-submit{
	width: 50%;
}