.app-name{
	display: flex;
	width: 50%;
	margin: 0 0 30px;
	flex-wrap: wrap;
}
.app-name label {
	margin-right: 20px;
	width: 15%;
}
.app-name input {
	width: 80%;
}
.app-preview-wrapper {
	display: flex;
	flex-wrap: wrap;
}
.app-setting{
	width: 30%;
}
.app-preview{
	width: 70%;
}
.label-wrapper label{
	margin: 10px 15px;
}
.label-wrapper select{
	width: 50px;
}
.label-wrapper button{
	padding: 5px 10px;
	border: 0;
	border-radius: 6px;
	margin: 0 18px 18px;
	color: #fff;
  background: #153655;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}