.playlist-item-wrapper ul {
  display: flex;
  flex-direction: column;
}
.playlist-item-wrapper ul li {
  list-style: none;
  padding: 10px 0;
}
.playlist-item-wrapper ul li img{
  padding-right: 10px;
}
.playlist-item-wrapper ul li:not(:last-child) {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.paylist-list-add a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 40px;
}
.paylist-list-add Button {
  float: right;
}
.paylist-list-add svg {
  display: inline-block;
  margin-top: -9px;
}

.playlist-file-type svg{
  font-size: 45px;
  padding-right: 10px;
}
.canvas {
  width: 95% !important;
}
.apps {
  width: 75% !important;
}