.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
  //visibility: hidden;
}

.row-dragging .drag-visible {
  visibility: visible;
}
.playlist-action {
  padding: 15px;
  float: right;
}
.playlist-action Button {
  margin: 0 5px;
}
