.objects {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.objects a{
	text-align: center;
	margin: 14px auto;
}
.objects a svg{
	font-size: 22px;
}
.canvas-menus li svg{
	margin-top: -7px;
	font-size: 18px;
}
.divider{
	margin: 0 auto;
    width: 40px;
    text-align: right;
    border-top: 1px solid #ecedef;
    min-width: 0;
}
.polygon-wrapper{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.polygon-wrapper a{
	padding: 15px 10px;
	width: 33.33%;
}
.polygon-wrapper a svg{
	font-size: 22px;
}