.right-menu-wrapper{
  padding: 30px;
}
.right-menu-bg-color, .right-menu-color{
  margin: 15px;
}
.right-menu-bg-color p,.right-menu-color p {
  padding-right: 15px;
}
.bg-wrapper {
  display: flex;
}
.bg-wrapper input {
  margin-right: 15px;
}
.bg-wrapper button {
  border-radius: 7px;
  padding: 0px 8px;
}
.bg-wrapper img {
  margin-right: 15px;
  height: 30px;
  width: 50px;
}
.bg-wrapper span {
  text-align: center;
}
.right-menu-color {
  display: flex;
}
.fonts{
	display: flex;
  justify-content: center;
  margin: 20px 0;
}

.canvas-size{
	display: flex;
  justify-content: center;
  margin: 20px 0;
}
.fonts label, .canvas-size label{
  padding-right: 15px;
}
.options label {
  padding-left: 15px;
}
.option-wrapper {
	display: flex;
  flex-wrap: wrap;
}
.option-wrapper label{
  width: 40%;
  margin: 10px 9px;
  display: flex;
}
.sliders {
	display: flex;
	margin: 20px 0;
	flex-direction: column;
}
.custom-size{
  margin: 20px 0;
  background: #ecedef;
  padding: 10px 5px;
}
.form-wrapper {
  display: flex;
  margin: 10px 0;
}
.form-wrapper label{
  padding-right: 10px;
}
.custom-size form button {
  margin-right: 20px;
}
.color-wrapper {
  margin: 10px 0;
  background: #ecedef;
  padding: 10px 5px;
}
.custom-size-button{
  display: flex;
  justify-content: flex-end;
}
.text-config-wrapper{
  background: #ecedef;
  padding: 10px 5px;
}