.top-menu-wrappers{
	display: flex;
}
.objects{
	display: flex;
}
.objects a{
	padding: 10px 8px;
	color: #000;
}
.bring-to-front svg{
	transform: rotate(90deg);
}
.bring-to-back svg{
	transform: rotate(90deg);
}

.divider {
    height: 20px;
    margin: 15px 8px;
    border-left: 1px solid #fff;
}