.h6{
  margin-left: 25px;
  font-size: larger;
}
@media print{    
    .h6{
     margin-left: 305px;  
      font-size: large;
      margin-bottom: 20px;  
  
    }   
      #printable{
        /* align-items: center !important;
        justify-content: center !important; */
        margin-top: 250px;
        display:block;
        
    }

}