// Here you can add other styles
// .card-header-wrapper {
//   display: flex;
//   flex-wrap: wrap;
// }

.c-sidebar-nav-item .c-sidebar-nav-link svg {
  height: 20px;
  width: 20px;
}
.c-sidebar.c-sidebar-fixed {
  z-index: 1;
}
.card-title {
  text-align: left;
  display: inline-block;
  padding: 0 40px;
}
.card-search-input {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
.c-header.c-header-fixed {
  z-index: 1000 !important;
}

.c-avatar {
  margin-top: -10px;
}
.avatar-wrapper {
  display: flex;
  flex-direction: column;
}
.avatar-wrapper button {
  width: 25%;
  margin-top: 20px;
}

.action-wrapper button {
  margin: 0 3px !important;
}
.action-wrapper .anticon svg,
.status-wrapper .anticon svg,
.table-wrapper .ant-pagination .anticon svg {
  margin-top: -10px !important;
}
.anticon.anticon-setting svg {
  margin-top: -5px !important;
}
.table-wrapper .ant-pagination .anticon.anticon-down svg {
  margin-top: 0 !important;
}

.drawer-wrapper .ant-drawer-content-wrapper {
  width: 50% !important;
}
.image-holder-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-holder-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.upload-preview {
  margin: 20px 0;
}
.upload-preview li {
  display: flex;
  padding: 5px 0;
}
.img-desc-wrapper {
  display: flex;
  align-items: center;
  width: 93%;
}
.img-desc-wrapper p {
  margin: 10px;
}
.upload-preview li img {
  width: 20%;
  height: 50px;
  padding-right: 20px;
}
.file-type {
  width: 20%;
}
.file-type .anticon svg {
  font-size: 35px;
}
.action-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-wrapper a {
  color: #2d313a;
  text-decoration: none;
}
.action-wrapper a.action-edit {
  border: 1px solid #dfdfdf;
  padding: 3px 15px;
  margin: 0 10px;
  border-radius: 2px;
  color: #2d313a;
  text-decoration: none;
}

input.debounce-input:focus {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
input.debounce-input:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
}
input.debounce-input {
  padding: 3px 12px;
  border: 1px solid #d9d9d9;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
}

.ant-alert {
  margin: 10px 0;
}

/* 
* dropzone
*/
.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed rgb(221, 221, 221);
  border-radius: 6px;
  cursor: pointer;
  padding: 60px 0;
}
.dropzone-select-label {
  background-image: url("/avatars/empty-upload.png");
  width: 200px;
  padding-top: 130px;
  background-size: contain;
  background-repeat: no-repeat;
}
.dropzone-select-label p {
  text-align: center;
}
.dropzone-select-label button {
  margin-top: 20px;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.upload-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 50px;
}

//tui editor
.tui-image-editor-header {
  display: none;
}
//table

.ant-table-tbody > tr > td,
.ant-table-tbody > tr > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 
* Medias preview
*/
.preview-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.preview {
  width: 70%;
}
.preview img {
  width: 100%;
  height: auto;
}
.preview video {
  width: 100%;
  height: auto;
}
.info {
  width: 30%;
}
.info-wrapper {
  table-layout: fixed;
  background-color: rgb(248, 248, 248);
  border-color: rgb(238, 238, 238);
  padding: 20px 20px 10px;
  margin: 0px 0 0 25px;
}
.info-wrapper tr td:first-child {
  color: rgba(31, 32, 39, 0.5);
  font-weight: normal;
  text-align: right;
  padding-right: 10px;
  font-size: 12px;
}
.info-wrapper tr td {
  border-top: none;
  padding: 0px 0px 10px;
  font-size: 0.875em;
  color: rgb(31, 32, 39);
  font-weight: bold;
  line-height: 1.3;
  vertical-align: baseline;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50% !important;
  font-size: 13px;
}

/* 
* editable cell
*/
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

[data-theme="dark"] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

/* 
* for screens
*/
.active-screen-wrapper {
  display: flex;
}
.active-screen-wrapper svg {
  font-size: 26px;
  margin-left: 15px;
}

//tab pane
.canvas-tab .ant-tabs-tab {
  border: 0 !important;
}

//canvas
.canvas-container {
  overflow: auto;
  max-height: 1024px;
  max-width: 980px;
}

/*
* statitic content
*/
.ant-statistic-content {
  text-align: center;
}

/*
* media query
*/

@media screen and (max-width: 767px) {
  .drawer-wrapper .ant-drawer-content-wrapper {
    width: 90% !important;
  }

  a.c-header-nav-link.nav-link > span > h5 {
    display: none;
  }

  .ant-table-header {
    table {
      table-layout: auto !important;
      overflow-x: auto !important;
    }
  }

  .ant-table {
    table {
      width: auto !important;
    }
  }

  .ant-drawer-content-wrapper {
    width: 90% !important;
  }

  .ant-card {
    width: 100% !important;
  }

  .ant-radio-group-outline {
    margin-left: 0 !important;
  }

  .pdf-download {
    left: 18em;
  }
}

@media only screen and (max-width: 992px) {
  .c-sidebar-backdrop {
    z-index: 0;
  }

  .c-sidebar.c-sidebar-dark.c-sidebar-show.c-sidebar-fixed {
    position: static !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
}

/*
* media query for ipad pro
*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}
.roles {
  border-collapse: collapse;
  font-family: sans-serif;
  width: 100%;
}

.roles__cell {
  text-align: center;
  max-width: 250px;
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.5em 1em;
  color: #333333;
  border: 1px solid #dddddd;
  line-height: 2.4;
  min-width: 100px;
}

.roles__cell--bold {
  font-weight: bold;
}

.roles__cell--shaded {
  background: #fafafa;
}

.roles__cell--large {
  font-size: 1.25em;
}

.roles__cell--center {
  text-align: center;
}
