// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// If you want to add something do it here
@import "custom";

@font-face {
    font-family: Preeti;
    src: url('/fonts/preeti.TTF');
}